.navigation {
  background-color: white;
  align-items: center;
  -webkit-box-shadow: 0px 8px 5px 0px rgba(155,155,163,0.67);
  -moz-box-shadow: 0px 8px 5px 0px rgba(155,155,163,0.67);
  box-shadow: 0px 8px 5px 0px rgba(155,155,163,0.67);
  
  &__logo{
    color: darkred !important;
    font-size: 25px;
    font-weight: 500;
    margin-right: 2rem;

    &:hover{
      color: rgb(109, 3, 3) !important;
      text-decoration: none;
    }
    &--img{
      height: 3rem;
    }
  }
  &__list{
    width: 100%;
    justify-content: flex-end;
  }
  &__span{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  &__hamburguer{
    color: darkred;
  }
  &__list {
    margin-left: 1rem;
  }
  &__item a {
    display: block;
    padding: .7em 1em;
    text-decoration: none;
    color: black;    
  }
  &__link{
    color: black;
    &:hover{
      color: black;
      text-decoration: none;
    }
    &--login{
      background-color: darkred;
      color: white !important;
      border-radius: 5px;
      padding: .7rem 1.5rem !important;
      margin-left: 1rem;
      width: fit-content;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
  
  /* menu icon */
  
 .menu-icon {
    display: block;
    float: right;
    padding: 2em 1em;
    position: relative;
    height: 2em;
    width: 2em;
  }
  
  /* menu btn */
  
.menu-btn {
    display: none;
  }
  
// .menu-btn:checked ~ .navigation__list {
//     max-height: none;
//   }
  
/* 48em = 768px */
  

@media(max-width:768px){
  .navigation{

    &__logo{
      margin: 0;
    }
  }
}

  