.cajas{
    display: none;
    &_movil{
        &__carousel{
        height: 10rem !important;
        }
        &__div{
            top: 30px;
        }
    }
    &__carousel{
        height: 10rem;
    }
}
.caja{
    display: flex;
    align-items: center;
    width: 17rem !important;
    background-color: darkred;
    color: white;
    margin: 0 auto;
    padding: 1rem 2rem;
    left: 4.5rem;
    top: 22px;
    font-size: 25px;
    text-align: center;

    &:hover{
        color: white;
        text-decoration: none;
    }
    &__money{
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px){
    .cajas{
        display: flex;
        height: 4rem;

        &__div{
            width: 100%;
            height: 7rem;
            text-align: center;
            top: -60px;
        }

        &_movil{
            display: none;
        }
    }
    .caja{
        top: -60px;
        width: 19rem !important;
        padding: 1rem 3rem;
    }

}