// .carousel{
//     height: 25rem;
// }
.pp{
    background-image: url(../../../assets/images/logo_academias/pp.jpg);
    background-position: center;
    background-size: cover;
    height: 25rem;
}
.valero{
    background-image: url(../../../assets/images/logo_academias/valero.png);
    background-position: center;
    background-size: cover;
    height: 25rem;
}
.wp{
    background-image: url(../../../assets/images/logo_academias/wolpack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.ca{
    background-image: url(../../../assets/images/logo_academias/conny_azua.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}
.rd{
    background-image: url(../../../assets/images/logo_academias/rd.png);
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
    height: 25rem;
}
.p{
    background-image: url(../../../assets/images/logo_academias/pulso.png);
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
    height: 25rem;   
}


.carousel{
    &__flecha{
        color: darkred;

    }
    &-control-prev, &-control-next{
        width: 8rem !important;
    }
    &-indicators{
        display: none !important;
    }
}