// .carousel{
//     height: 25rem;
// }
.pp{
    background-image: url(../../../assets/images/logo_academias/pp.jpg);
    background-position: center;
    height: 28rem;
}
.valero{
    background-image: url(../../../assets/images/logo_academias/valero.png);
    background-position: center;
    height: 28rem;
}
.wp{
    background-image: url(../../../assets/images/logo_academias/wolpack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 28rem;
}

.academia4{
    background-image: url(../../../assets/images/logo_academias/Artedanza-logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 28rem;
}
.academia5{
    background-image: url(../../../assets/images/logo_academias/rd.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 28rem;
}
.academia6{
    background-image: url(../../../assets/images/logo_academias/pulso.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 28rem;   
}