.contacto{
    margin-top: 7rem;
    
    &__titulo{
        text-align: center;
        margin-bottom: 2rem;
    }
    &__form{
        margin-bottom: 2rem;
    }
    &__btn{
        text-align: center;
    }
}