.funcionamiento{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &__titulo{
        font-family: 'Lato', sans-serif;
    }
}
.nosotros{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}