@charset "UTF-8";
/**
  * Patrón 7-1
  *
  * Esta es la estructura del patrón 7-1 utilizado en DesafíoLatam
  * para la enseñanza del uso correcto de patrones dentro de CSS y
  * también para la utilización de éste dentro de estructuras de 
  * trabajo colaborativo.
  *
  * @author Cristóbal Domínguez <cristobald@me.com>
  * @since 1.1
  *
  */
body {
  margin-top: 4rem !important;
}

/*
 *
 * La mayoría de los proyectos tienen una carpeta vendors/ que contiene
 * todos los archivos CSS de librerías externas y frameworks – Normalize,
 * Bootstrap, jQuery, jQueryUI, Flickity, Flexslider y así sucesivamente.
 * Agregando estos en una carpeta aparte podría ser una buena forma de 
 * decir: “Hey, esto no es mío, no es mi código, no es mi responsabilidad”.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * La carpeta abstracts/ reune todas las herramientas de SASS para el proyecto.
 * Cada variable global, función, mixin o placeholder debería estar aquí dentro.
 * 
 * La regla de oro para esta carpeta es que no deberá imprimir ni una sola línea
 * de código en el momento de la compilación del CSS. Nada como los helpers de Sass.
 * 
 * Cuando se trabaja en un proyecto muy grande con muchos archivos abstracts, podría
 * ser más interesante agruparlos por tópicos en vez de por tipo. Un ejemplo sería
 * crear las instancias typography (_typography.scss), theming (_theming.scss), etc.
 * Cada archivo contendría todos los helpers relacionados a esa instancia: variables, 
 * functions, mixins y placeholders. Hacerlo así podría hacer el código más sencillo de 
 * de mantener, especialmente cuando los archivos empiezan a crecer mucho.
 * 
 * Nota:
 * La carpeta abstracts/ podría llamarse utilities/ o helpers/, dependiendo de lo que
 * se prefiera.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Este archivo contiene las referencias del código boilerplate de tu proyecto.
 * Aquí podrás encontrar referencias al archivo _reset.scss, a las tipografías
 * y probablemente algún otro archivo de estilos que defina de una forma estándard
 * los estilos de elementos usados en HTML.
 *
 *
 * Nota: 
 * Si tu proyecto usa muchas animaciones, deberías considerar agregar dentro de
 * esta carpeta un archivo /_animations.scss que contenga las definiciones de los
 * @keyframes de todas tus animaciones.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
body {
  margin-top: 4rem !important;
}

/*
 *
 * En sitios/aplicaciones grandes es usual tener distintos temas o 
 * themes implementados. Hay diferentes caminos para lidiar con ese
 * problema, sin embargo uno de los más sencillos, a mi parecer, sería
 * tener cada theme dentro de su carpeta.
 * 
 * Nota:
 * La creación de esta carpeta es muy específica a cada proyecto, 
 * probablemente la mayoría de los sitio/aplicaciones no la necesitarán.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
/*
 *
 * Esta carpeta contiene todo lo que hace relación con el sitio web o la aplicación.
 * Aquí encontrarás los estilos para las partes principales del sitio (header, footer, 
 * navigation, sidebar, etc), el sistema de grillas o incluso los estilos de los formularios
 *
 *
 * Nota:
 * La carpeta layout/ también podría ser llamada partials/, dependiendo de la 
 * preferencia del desarrollador.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.footer {
  background-color: darkred;
  padding: 2rem;
}
.footer__logo {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.footer__img {
  height: 7rem;
  text-align: center;
}
.footer__links {
  width: 100% !important;
  text-align: center;
  width: fit-content;
  
}
.footer__link {
  color: white !important;
  padding: 1rem;
}
.footer__link:hover {
  text-decoration: none;
  font-weight: 500;
}
.footer__rrss {
  text-align: center;
  margin-top: 2rem;
}
.footer__rs {
  color: white !important;
  margin: 0.3rem;
}

@media (min-width: 768px) {
  .footer__img {
    text-align: left;
  }
  .footer__links {
    text-align: right;
  }
  .footer__rrss {
    text-align: right;
  }
}
.navigation {
  background-color: white;
  align-items: center;
  -webkit-box-shadow: 0px 8px 5px 0px rgba(155, 155, 163, 0.67);
  -moz-box-shadow: 0px 8px 5px 0px rgba(155, 155, 163, 0.67);
  box-shadow: 0px 8px 5px 0px rgba(155, 155, 163, 0.67);
}
.navigation__logo {
  color: darkred !important;
  font-size: 25px;
  font-weight: 500;
  margin-right: 2rem;
}
.navigation__logo:hover {
  color: #6d0303 !important;
  text-decoration: none;
}
.navigation__logo--img {
  height: 3rem;
}
.navigation__list {
  width: 100%;
  justify-content: flex-end;
}
.navigation__span {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.navigation__hamburguer {
  color: darkred;
}
.navigation__list {
  margin-left: 1rem;
}
.navigation__item a {
  display: block;
  padding: 0.7em 1em;
  text-decoration: none;
  color: black;
}
.navigation__link {
  color: black;
}
.navigation__link:hover {
  color: black;
  text-decoration: none;
}
.navigation__link--login {
  background-color: darkred;
  color: white !important;
  border-radius: 5px;
  padding: 0.7rem 1.5rem !important;
  margin-left: 1rem;
}
.navigation__link--login:hover {
  text-decoration: none;
}

/* menu icon */
.menu-icon {
  display: block;
  float: right;
  padding: 2em 1em;
  position: relative;
  height: 2em;
  width: 2em;
}

/* menu btn */
.menu-btn {
  display: none;
}

/* 48em = 768px */
@media (max-width: 768px) {
  .navigation__logo {
    margin: 0;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.footer {
  background-color: darkred;
  padding: 2rem;
}
.footer__logo {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.footer__img {
  height: 7rem;
  text-align: center;
}
.footer__links {
  width: 100% !important;
  text-align: center;
  width: fit-content;
}
.footer__link {
  color: white !important;
  padding: 1rem;
}
.footer__link:hover {
  text-decoration: none;
  font-weight: 500;
}
.footer__rrss {
  text-align: center;
  margin-top: 2rem;
}
.footer__rs {
  color: white !important;
  margin: 0.3rem;
}

@media (min-width: 768px) {
  .footer__img {
    text-align: left;
  }
  .footer__links {
    text-align: right;
  }
  .footer__rrss {
    text-align: right;
  }
}
/*
 * 
 * Esta carpeta fue creada para componentes o módulos pequeños como por ejemplo: 
 * sliders, loaders, widgets, etc. A diferencia de la carpeta layout/ donde almacenaremos
 * los componentes que definan el wireframe del sitio/aplicación, aquí encontraremos
 * componentes que aportarán más contenido que una estructura visual.
 * 
 * Usualmente deberían haber muchos archivos en components/ debido a que los 
 * sitios/aplicaciones se empezaron a crear en base a pequeños módulos de código.
 * 
 * Nota:
 * Esta carpeta también se podría llamar modules/, dependiendo de cómo tu la prefieras.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.cajas {
  display: none;
}
.cajas_movil__carousel {
  height: 10rem !important;
}

.caja {
  display: flex;
  position: absolute;
  align-items: center;
  width: 19rem !important;
  background-color: darkred;
  color: white;
  padding: 1rem 3rem;
  left: 4.5rem;
  top: 22px;
  font-size: 25px;
  text-align: center;
}
.caja:hover {
  color: white;
  text-decoration: none;
}
.caja__money {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cajas {
    display: flex;
    margin-bottom: 6rem;
  }
  .cajas_movil {
    display: none;
  }

  .caja {
    top: -60px;
  }
}
.buscador {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buscador__boton {
  border-color: darkred !important;
  background-color: transparent !important;
  color: darkred !important;
}
.buscador__boton:hover {
  background-color: darkred !important;
  color: white !important;
}

@media (max-width: 768px) {
  .buscador__barra {
    width: 10rem !important;
  }
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  width: 100%;
}

.img1 {
  background-image: url(../../../assets/images/logo_academias/pp.jpg);
}

.img2 {
  background-image: url(../../../assets/images/logo_academias/conny_azua.jpg);
}

.img3 {
  background-image: url(../../../assets/images/logo_academias/valero.png);
}

.img4 {
  background-image: url(../../../assets/images/logo_academias/rd.png);
  background-size: auto;
}

.img5 {
  background-image: url(../../../assets/images/logo_academias/wolpack.jpg);
}

.img6 {
  background-image: url(../../../assets/images/logo_academias/pulso.png);
  background-size: auto;
}

.carousel__movil {
  width: 100%;
  height: 20rem;
}
.carousel__grande {
  display: none;
}
.carousel__flecha {
  color: darkred;
}

@media (min-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    width: 8rem !important;
  }
  .carousel__grande {
    display: block;
  }
  .carousel__movil {
    display: none;
  }
}
/*
 *
 * Si prefieres estilos de páginas específicas, es mejor ponerlos en la carpeta pages/.
 * Por cierto, es común tener estilos muy específicos para cada página, como por ejemplo:
 * home, de ahí la necesidad de crear un archivo _home.scss dentro de pages/.
 * 
 * Nota:
 * Dependiendo del proceso de tu desarrollo, estos archivos podrían ser cargados de forma
 * paralela al archivo de estilos principal, evitando juntarlos con los del estilo principal.
 * Sin embargo es una decisión de cada uno o de cada proyecto.
 *
 * @author Cristóbal Domínguez <cristobald@me.com>
 * @since 1.0
 *
 */
.horario__titulo {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.tabla {
  width: 50% !important;
  margin: 0 auto !important;
  margin-bottom: 2rem !important;
}
.tabla__profesor {
  font-size: 20px;
}
.tabla__dia, .tabla__reserva {
  width: 15%;
}

.login {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2rem;
}
.login__logo {
  height: 15rem;
  margin-top: 3rem;
}
.login__form {
  margin-top: 2rem;
}
.login__usuario, .login__contraseña {
  width: 15rem !important;
  font-size: 20px !important;
  margin: 0 auto;
}
.login__btn {
  background-color: darkred !important;
  color: white !important;
}
.login__btn:hover {
  background-color: #6d0303 !important;
}

.academia {
  text-align: center;
  padding-top: 1rem;
}

.sedes__sede {
  width: 33%;
  padding: 0 2rem;
}

.academia {
  text-align: center;
  padding-top: 1rem;
}
.academia__titulo {
  margin: 1.5rem 0;
}

.sedes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: space-around;
}
.sedes_titulo {
  width: 100%;
  margin-bottom: 1.5rem;
}
.sedes_sede {
  display: flex;
  width: 44%;
  padding-bottom: 2rem;
}

.sede__img {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
}
.sede__info {
  width: 20rem;
}
.sede__btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background-color: #7C0A02;
  color: white;
  border-radius: 30px;
}
.sede__btn:hover {
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 17px 0px #7c0a02;
  -moz-box-shadow: 0px 0px 17px 0px #7c0a02;
  box-shadow: 0px 0px 17px 0px #7c0a02;
}

.descarga {
  margin-top: 7rem;
  height: 20rem;
}
.descarga__titulo {
  text-align: center;
  margin-bottom: 2rem;
}
.descarga__app {
  text-align: center !important;
}
.descarga__as, .descarga__gp {
  width: 21rem;
  height: 7rem;
}

@media (min-width: 768px) {
  .descarga {
    margin-top: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
